/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
    max-width: 300px;
  }

/* Hero */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/bgimg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2A5B64;
}

h1, h2, h3{
  font-family: 'Noto Serif Georgian', serif;
  margin: 10px 0;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.4rem;
}

p{
  padding: 10px;
}

input{
  padding: 5px 5px;
}

button{
  border: 0;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

.btn{
  background-color: red;
}

.btn:hover{
  background-color: yellow;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin{
  margin-top: 10vh;
}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw 10vh;
}

.results > div {
  border: 1px solid;
  padding: 0 30px 20px 30px;
  margin: 0 30px;
  text-align: center;
  width: 350px;
  color: #FF491F;
}

.results > div > h2{
  padding: 30px 0 30px 0;
}

.container{
  margin: 10px 5vw;
}

.signin-input{
  border: 0;
  border-radius: 5px;
  margin: 20px 15px;
}

.fail{
  color: red;
}

.success{
  color: green;
}


#hero-img{
  height: 30vh;
}

#signin{
  background-color: #00CCFF;
  padding: 6px 30px 6px 30px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 15px;
}

#signin:hover {
  background-color: #2A5B64;
}

#signup{
  color: #2A5B64;
  cursor: pointer;
}

#end{
  margin: 10px;
}


@media only screen and (max-width: 600px) {
  .results > div{
    margin: 30px;
  }
  .btn{
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
  }
}