/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
    max-width: 300px;
  }

/* Hero */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  background-image: url('images/bgimg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3{
  font-family: 'Noto Serif Georgian', serif;
  margin: 10px 0;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.4rem;
}

h3{
  font-size: 1.1rem;
}

p{
  padding: 10px;
}

input{
  padding: 5px 5px;
}

.btn{
  border: 0;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: red;
  cursor: pointer;
}

.btn:hover{
  background-color: yellow;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw 10vh;
}

.results > div {
  border: 1px solid;
  padding: 0 30px 20px 30px;
  text-align: center;
  width: 350px;
  color: #FF491F;
}

.results > div > h2{
  padding: 30px 0 30px 0;
}

.container{
  margin: 10px 5vw;
}

#hero-img{
  height: 30vh;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #2A5B64;
  }
  .results > div{
    margin: 30px;
  }
  .btn{
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
  }
}